*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*
    font-family: 'Noto Sans', sans-serif;
    */
    font-family: 'Courier Prime', monospace;
}

body{
    background-color: black;
    background-image: url("imagens/fundo_estrela.jpg");
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 1);
    height: 100px;
    position: fixed;
    top: 0;
    text-align: center;
}

.header-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.menu-img{
    width: 20%;
    height: 100%;
    text-align: left;
    position: absolute;
}

.menu-img img{
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu-box{
    width: 800px;
    padding-top: 10px;
    position: relative;
    margin: auto;
}

.menu{
    width: 100%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-box a{
    padding: 0 10px 10px 10px;
    text-decoration: none;
    color: rgb(110, 253, 253);
}

.menu-link:hover{
    border-bottom: 2px solid rgb(110, 253, 253);
}

section.banner{
    margin-top: 100px;
    width: 100%;
}

.banner img{
    width: 100%;
}

.center{
    display: flex;
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.diferenciais{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 200px 0;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    min-height: 400px;
    transition: 1s;
}

.diferenciais h1{
    font-size: 32px;
    margin-bottom: 80px;
    text-align: center;
}

.diferenciais h2{
    font-size: 22px;
}

.diferenciais p{
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}

.o-que-e{
    width: 50%;
    margin-bottom: 20px;
    padding-right: 20px;
}

.objetivos{
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
}

.diferenciais img{
    width: 100%;
}

.intro{
    margin-bottom: 80px;
}

.diagrama{
    margin-top: 10px;
    margin-bottom: 15px;
}

section.resultados{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    min-height: 400px;
    transition: 1s;
}

section.resultados > .center{
    max-width: 1800px;
}

.resultados h1{
    font-size: 32px;
    margin-bottom: 80px;
    text-align: center;
}

.resultados h2{
    font-size: 22px;
    margin-bottom: 10px;
}

.resultados p{
    font-size: 16px;
    padding-top: 10px;
}

.funciona{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.funciona p{
    padding-top: 25px;
}

.como-funciona{
    margin-bottom: 50px;
    padding-left: 100px;
    width: 50%;
    text-align: left;
}

.imagem-funciona{
    width: 50%;
    max-width: 100%;
    padding-left: 70px;
}

.imagem-funciona img{
    width: 70%;
    max-width: 100%;
}

.desenvolvimento{
    margin-bottom: 50px;
}

.desenvolvimento a{
    color: cyan;
}

.resultados-obtidos{
    margin-bottom: 50px;
}

.box-desenvolvimento{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.imagem-desenvolvimento{
    width: 45%;
    max-width: 100%;
    padding-left: 100px;
}

.imagem-desenvolvimento img{
    width: 100%;
    max-width: 100%;
}

.desenvolvimento-single{
    width: 55%;
    padding: 20px 150px;
    padding-right: 140px;
    margin-top: 35px;
    text-align: right;
}

section.quem-somos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 80px 0px;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    min-height: 700px;
    transition: 1s;
}

.quem-somos h2{
    margin-bottom: 50px;
    font-size: 32px;
}

.quem-somos img{
    width: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.quem-somos p{
    font-size: 20px;
    margin-bottom: 30px;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w30{
    width: 30%;
}

.w40{
    width: 40%;
}

.w50{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.w60{
    width: 60%;
}

.w70{
    width: 70%;
}

.w100{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

footer{
    text-align: center;
    margin: auto;
    min-height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    
    padding-top: 17px;
}

footer p{
    padding-top: 5px;
}

.direitos{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    img{
        max-width: 100%;
    }
    header{
        text-align:center;
        padding: 10px;
        min-height: 180px;
        position: relative;
        display: block;
    }
    header img{
        margin: 0;
    }
    .header-menu{
        display: block;
        height: auto;
    }
    .menu-img{
        width: 100%;
        text-align: center;
        height: auto;
        position: inherit;
    }
    .menu{
        display: block;
        font-size: 16px;
    }
    .menu-box{
        width: 100%;
        margin: 10px 0;
        height: auto;
    }
    section.banner{
        margin-top: 0px;
    }
    .menu{
        text-align:center;
        margin-top: 0px;
    }
    a{
        padding: 5px;
    }
    .w33,.w50,.w100{
        width: 100%;
        margin-bottom: 20px;
    }
    .w100{
        padding-top: 0;
    }

    .center{
        max-width: 700px;
    }
    
    /*RESULTADOS*/
    section.resultados{
        display: block;
        text-align: center;
        padding: 100px 0;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(255, 255, 255);
        min-height: 400px;
        transition: 0s;
    }
    section.resultados > .center{
        max-width: 700px;
    }
    .funciona, .desenvolvimento{
        display: block;
        padding: 20px 0;
    }
    .como-funciona, .box-desenvolvimento{
        margin-bottom: 50px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .imagem-funciona, .imagem-desenvolvimento{
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
    .imagem-funciona, .imagem-desenvolvimento img{
        width: 100%;
        max-width: 100%;
    }
    .desenvolvimento-single{
        width: 100%;
        padding: 20px 20px;
        margin-top: 35px;
        text-align: center;
    }

}